volumes/ldap/config/cn=config.ldif
volumes/ldap/config/docker-openldap-was-admin-password-set
volumes/ldap/config/docker-openldap-was-started-with-tls
volumes/ldap/config/cn=config/cn=module{0}.ldif
volumes/ldap/config/cn=config/cn=schema.ldif
volumes/ldap/config/cn=config/olcBackend={0}mdb.ldif
volumes/ldap/config/cn=config/olcDatabase={-1}frontend.ldif
volumes/ldap/config/cn=config/olcDatabase={0}config.ldif
volumes/ldap/config/cn=config/olcDatabase={1}mdb.ldif
volumes/ldap/config/cn=config/cn=schema/cn={0}core.ldif
volumes/ldap/config/cn=config/cn=schema/cn={1}cosine.ldif
volumes/ldap/config/cn=config/cn=schema/cn={2}nis.ldif
volumes/ldap/config/cn=config/cn=schema/cn={3}inetorgperson.ldif
volumes/ldap/config/cn=config/cn=schema/cn={4}ppolicy.ldif
volumes/ldap/config/cn=config/cn=schema/cn={5}dhcp.ldif
volumes/ldap/config/cn=config/cn=schema/cn={6}dnszone.ldif
volumes/ldap/config/cn=config/cn=schema/cn={7}mail.ldif
volumes/ldap/config/cn=config/cn=schema/cn={8}mmc.ldif
volumes/ldap/config/cn=config/cn=schema/cn={9}openssh-lpk.ldif
volumes/ldap/config/cn=config/cn=schema/cn={10}quota.ldif
volumes/ldap/config/cn=config/cn=schema/cn={11}radius.ldif
volumes/ldap/config/cn=config/cn=schema/cn={12}samba.ldif
volumes/ldap/config/cn=config/cn=schema/cn={13}zarafa.ldif
volumes/ldap/config/cn=config/olcDatabase={1}mdb/olcOverlay={0}memberof.ldif
volumes/ldap/config/cn=config/olcDatabase={1}mdb/olcOverlay={1}refint.ldif
volumes/ldap/data/data.mdb
volumes/ldap/data/lock.mdb
